// font classes

.text-xs {
  font-size: $font-xs;
  line-height: 1rem;
}

.text-sm {
  font-size: $font-sm;
  line-height: 1.25rem;
}

.text-base {
  font-size: $font-base;
  line-height: 1.5rem;
}

.text-lg {
  font-size: $font-lg;
  line-height: 1.75rem;
}

.text-xl {
  font-size: $font-xl;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: $font-2xl;
  line-height: 2rem;
}

.text-3xl {
  font-size: $font-3xl;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: $font-4xl;
  line-height: 2.5rem;
}

.text-5xl {
  font-size: $font-5xl;
  line-height: 1rem;
}

.text-6xl {
  font-size: $font-6xl;
  line-height: 1rem;
}

.text-7xl {
  font-size: $font-7xl;
  line-height: 1rem;
}

.text-8xl {
  font-size: $font-8xl;
  line-height: 1rem;
}

.text-9xl {
  font-size: $font-9xl;
  line-height: 1rem;
}
