// fonts

.font-primary {
  font-family: $font-primary;
}

.font-secondary {
  font-family: $font-secondary;
}

// colors

.text-color-primary {
  color: $color-1;
}

.text-color-secondary {
  color: $color-2;
}

// base

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  //   padding-top: 119px;
}
.leiderschap-link {
  color: $color-1;
}

.container-fluid {
  padding: 0;
}

.gray-background {
  background-color: $light-grey;
}

.padding-x {
  padding-left: 5%;
  padding-right: 5%;
}
.padding-y {
  padding-top: 5%;
  padding-bottom: 5%;
}
h1,h2,h3,h4,h5 {
  padding-bottom: 1rem;
}

h5 {
  color: $grey;
}

hr {
  //   max-width: 40rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  background-color: $color-2;
  height: 2px !important;
  opacity: 0.5;
}

.quote::before {
  content: "“";
  font-size: $font-2xl;
  line-height: 0;
}

.quote::after {
  content: "”";
  font-size: $font-2xl;
  line-height: 0;
}

@media (min-width: 992px) {
  .padding-x {
    padding-left: 8%;
    padding-right: 8%;
  }
  .padding-y {
    padding-top: 8%;
    padding-bottom: 8%;
  }
}
