.button-1 {
  padding: 1rem 1.5rem;
  background-color: $color-1;
  border-radius: 0px;
  transition: ease-in-out 0.1s;
  font-weight: bold;
  font-size: $font-sm;
  color: $white;
  //   box-shadow: 1px 1px 5px $black;
  border: 1px solid black;
  max-width: 370px;

  &:hover {
    // box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    //   0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transform: translateY(3px);
    color: $white;
  }
}

.button-2 {
  @extend .button-1;

  background-color: $light-grey;
  color: $black;

  &:hover {
    color: $black;
  }
}

.button-3 {
  @extend .button-1;
  background-color: $color-4;
  color: $black;

  &:hover {
    color: $black;
  }
}

.button-4 {
  @extend .button-1;

  background-color: $color-3;
}

.btn-send {
  color: $white !important;
}

@media (min-width: 756px) {
  .button-1 {
    font-size: $font-xl !important;
  }
}

// socials

.btn-social {
  padding-left: 0;
}
.linked-in {
  color: #0a66c2;
  &:hover {
    color: #7198c7;
  }
}
