.card {
  border-radius: 0;
}

.card-1 {
  border: none;
  font-size: $font-sm;
  .card-body {
    padding: 1.5rem 1.5rem;

    .card-title {
      font-weight: bold;
      margin-bottom: 0;
      font-size: $font-base;
    }

    .card-text {
      margin: 1.75rem 0;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

.card-2 {
  border: none;
  font-size: $font-sm;
  .card-body {
    padding: 1.5rem 1.5rem;

    .card-title {
      font-weight: bold;
      margin-bottom: 0;
    }

    .card-text {
      margin: 1.75rem 0;
    }
  }
}

.card-3 {
  background-color: $white;
  border: none;
  margin-top: 8rem;
  border-radius: 20px;
  font-size: $font-sm;
  box-shadow: 0 0.5rem 1rem rgba($black, 0.15);

  .card-title {
    font-size: $font-base;
  }

  img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: -8rem;
    left: 50%;
    height: 8rem;
    border-left: solid 2px red !important;
  }
}

@media (min-width: 756px) {
  .card {
    font-size: $font-base;
  }

  .card-3 {
    font-size: $font-base;
    .card-title {
      font-size: $font-2xl;
    }
  }
}

@media (min-width: 1400px) {
  .card-1 {
    .card-title {
      font-size: $font-2xl !important;
    }
  }
}
