.card {
  border: none;
  font-size: $font-sm;
  .card-body {
    padding: 1.5rem 1.5rem;

    .card-title {
      font-weight: bold;
      margin-bottom: 0;
    }

    .card-text {
      margin: 1.75rem 0;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  .card-image {
    object-fit: cover;
    height: 100%;
  }
}

.card-2 {
  @extend .card;
}

@media (min-width: 756px) {
  .card {
    font-size: $font-base;
  }
}
