footer {
  background-color: $color-3;
  color: $white;
  text-align: center;

  h3 {
    border-bottom: 2px solid $color-2;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
  }

  a {
    text-decoration: none;
    color: $white;
    &:hover {
      color: $color-2;
    }
  }

  .footer-quote {
    max-width: 20rem;
  }

  .copyright {
    p {
      margin-bottom: 0;
    }
    .dbw {
      font-size: 10px;
    }
    .icon-note {
      color: $grey;
      opacity: 0.2;
      font-size: 7px;
    }
  }

  hr {
    max-width: 100%;
  }
}

@media (min-width: 756px) {
  .footer {
    text-align: left;
  }

  .footer-quote {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
