.parallax {
  background-image: url("/assets/images/parallax-grey.jpg");
  min-height: 350px;
  position: relative;
  //   opacity: 0.85;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .text-parallax {
    color: $white;
  }
}
